<div>
	<!-- Header Area Start -->
	<div class="header1-area">
		<div class="header-bottom-area" id="sticker">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-2 col-sm-2 col-xs-12">
						<div class="logo-area"> <a ui-sref="firstNear.index"> <img class="img-responsive" src="img/logo.png" alt="logo" width="225"> </a> </div>
					</div>
					<div class="col-lg-9 col-md-10 col-sm-10 col-xs-12">
						<div class="main-menu-area width-100" >
							<nav>
								<ul class="pull-right  width-100">
									<li ng-show = "signUpShow"><a ui-sref="firstNear.signupMain" class="signup-link">{{ 'SignUp' | translate }}</a> </li>
									<li><a ui-sref="firstNear.login" class="signin-link">{{ 'SignIn' | translate }}</a> </li>
									<li class="dropdown langdrop head-flag" id="lang" ng-controller="LanguageCtrl"> <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="" id="langCaptionId">EN <i class="fa fa-angle-down" aria-hidden="true"></i></a>
										<ul class="dropdown-menu" role="menu">
											<li> <a ng-click="changeLanguage('ar')"><img src="img/arab.png" height="20px" width="20px" style="border-radius:50%"> Arabic</a> </li>
											<li> <a ng-click="changeLanguage('en')"><img src="img/eng-flag.png" height="20px" width="20px" style="border-radius:50%"> English</a> </li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Mobile Menu Area Start -->
	<div class="mobile-menu-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mobile-menu">
						<nav id="dropdown">
							<ul class="pull-right  width-100">
								<li ng-show = "signUpShow"><a ui-sref="firstNear.signupMain" class="signup-link">signup</a> </li>
								<li><a ui-sref="firstNear.login" class="signin-link">signin</a> </li>
								<li class="dropdown langdrop head-flag" id="lang">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="" id="langCaptionId">EN
										<i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="dropdown-menu" role="menu" ng-controller="LanguageCtrl">
										<li>
											<a href="javascript:void(0);" ng-click="changeLanguage('ar')">
												<img src="img/arab.png" height="20px" width="20px" style="border-radius:50%"> Arabic</a> </li>
										<li>
											<a href="javascript:void(0);" ng-click="changeLanguage('en')">
												<img src="img/eng-flag.png" height="20px" width="20px" style="border-radius:50%"> English</a> </li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Mobile Menu Area End -->
</div>