<!-- Inner Page Banner Area Start Here -->
<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:800px;height:255px;overflow:hidden;visibility:hidden;background-color:#24262e;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;">
        </div>
        <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;">
        </div>
    </div>
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:800px;height:256px;overflow:hidden;">
        <div>
            <div class="image_tn">
                <a href="img1/01.jpg" data-showsocial="true" data-thumbnail="img1/01.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/01.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-01.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/02.jpg" data-showsocial="true" data-thumbnail="img1/02.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  <img data-u="image" src="img1/02.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-02.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/03.jpg" data-showsocial="true" data-thumbnail="img1/03.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/03.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-03.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/04.jpg" data-showsocial="true" data-thumbnail="img1/04.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/04.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-04.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="http://techslides.com/demos/sample-videos/small.mp4" data-showsocial="true" data-thumbnail="img1/video1.jpg" class="html5lightbox"
                    data-group="set1" data-width="600" data-height="300" title="">
                    <iframe width="100%" height="232px" src="http://techslides.com/demos/sample-videos/small.mp4">
                    </iframe>
                </a>
            </div>
            <img data-u="thumb" src="img1/video2.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/01.jpg" data-showsocial="true" data-thumbnail="img1/01.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/01.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-01.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/02.jpg" data-showsocial="true" data-thumbnail="img1/02.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/02.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-02.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/03.jpg" data-showsocial="true" data-thumbnail="img1/03.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/03.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-03.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/04.jpg" data-showsocial="true" data-thumbnail="img1/04.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/04.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-04.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="http://techslides.com/demos/sample-videos/small.mp4" data-showsocial="true" data-thumbnail="img1/video1.jpg" class="html5lightbox"
                    data-group="set1" data-width="600" data-height="300" title="">
                    <iframe width="100%" height="232px" src="http://techslides.com/demos/sample-videos/small.mp4">
                    </iframe>
                </a>
            </div>
            <img data-u="thumb" src="img1/video2.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/01.jpg" data-showsocial="true" data-thumbnail="img1/01.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/01.jpg" />
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-01.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/02.jpg" data-showsocial="true" data-thumbnail="img1/02.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/02.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-02.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/03.jpg" data-showsocial="true" data-thumbnail="img1/03.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/03.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-03.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="img1/04.jpg" data-showsocial="true" data-thumbnail="img1/04.jpg" class="html5lightbox" data-group="set1" data-width="600"
                    data-height="400" title="">  
                    <img data-u="image" src="img1/04.jpg" /> 
                </a>
            </div>
            <img data-u="thumb" src="img1/thumb-04.jpg" />
        </div>
        <div>
            <div class="image_tn">
                <a href="http://techslides.com/demos/sample-videos/small.mp4" data-showsocial="true" data-thumbnail="img1/video1.jpg" class="html5lightbox"
                    data-group="set1" data-width="600" data-height="300" title="">
                    <iframe width="100%" height="232px" src="http://techslides.com/demos/sample-videos/small.mp4">
                    </iframe>
                </a>
            </div>
            <img data-u="thumb" src="img1/video2.jpg" />
        </div>
        <a data-u="any" href="javascript:;" style="display:none">javascript slider</a>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora05l" style="top:117px;left:8px;width:40px;height:40px;">
        <i class="fa  fa-angle-left"></i>
    </span>
    <span data-u="arrowright" class="jssora05r" style="top:117px;right:8px;width:40px;height:40px;">
        <i class="fa  fa-angle-right"></i>
    </span>
</div>
<!-- Inner Page Banner Area End Here -->
<div class="default-theme-color">
    <div class="profile-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h3>
                        {{ profileData.name }} Photography
                    </h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h5>
                        <i class="fa fa-map-marker">
                        </i> {{ profileData.address }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="pagination-area">
                <ul>
                    <li class="active">
                        <a href="index.html">
                            Home 
                        </a>
                    </li>
                    <li>
                        <i class="fa  fa-angle-double-right">
                        </i>
                    </li>
                    <li>
                        Log in
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- profile-info-content Area Start Here -->
<div class="profile-info-content default-theme-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <!-- Profile Left Side Area Start Here -->
                <div class="profile-left-side">
                    <div class="profile-name">
                        <a href="javascript:;" class="check-fav" ng-click="vm.heartNext()">
                            <i class="fa fa-heart"></i>
                        </a>
                        <div class="thumbnail-img profile-img">
                            <img src="img/user-profile.jpg" alt="" class="img-responsive">
                        </div>
                        <h3>
                            {{ profileData.name }}
                        </h3>
                        <p>
                            Photographer
                        </p>
                        <div class="service-rating">
                            <div id="stars" class="starrr" ng-click="doRatingStars()">
                                <i class="fa fa-star">
                                </i>
                                <i class="fa fa-star">
                                </i>
                                <i class="fa fa-star">
                                </i>
                                <i class="fa fa-star">
                                </i>
                                <i class="fa fa-star">
                                </i>
                            </div>
                            <div class="reviews-count">
                                {{ profileData.rate }}
                            </div>
                        </div>
                        <span class="available-text">
                            <i class="fa fa-check">
                            </i> 
                            Available 
                        </span>
                    </div>
                    <div class="clearfix">

                    </div>
                    <ul class="book-profile">
                        <li>
                            <a href="javascript:;" class="book-btn-profile" ng-click="">
                                book now
                            </a>
                        </li>
                        <li><a href="javascript:;" class="request-btn-profile">
                                Message me
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="request-btn-profile">
                                Request for quote
                            </a>
                        </li>
                    </ul>
                    <ul class="contact-profile">
                        <p>
                            Contact
                        </p>
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#phoneModal">
                                <i class="fa fa-phone">
                                </i> 
                                Show Phone Number
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#emailModal">
                                <i class="fa fa-envelope">
                                </i> 
                                Show Email
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-map-marker">
                                </i> 
                                {{ profileData.distance}} KM Away
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-building">
                                </i> 
                                Has a Studio
                            </a>
                        </li>
                    </ul>
                    <ul class="icon-social">
                        <p>
                            Find me on
                        </p>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-whatsapp">
                                </i>
                            </a>

                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-instagram">
                                </i>
                            </a>
                        </li>
                    </ul>
                    <ul class="license-block">
                        <p>License</p>
                        <li>
                            <i class="fa fa-user">
                            </i> {{ profileData.licenseNumber }}
                        </li>
                    </ul>
                    <a href="javascript:;" class="pro-report-iss">
                        Report Issue
                    </a>
                </div>
                <!-- Profile Left Side Area End Here -->
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!-- Profile Right Side Area Start Here -->
                <div class="profile-side-section">
                    <div class="m1 menu">
                        <div id="menu-center">
                            <ul>
                                <li>
                                    <a class="active" href="javascript:;" ng-click="scrollTo('about')">
                                        About
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="scrollTo('services')">
                                        Services
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="scrollTo('offers')">
                                        Offers
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile-right-side">
                        <section class="about-profile-text" id="about" ng-bind-html="profileData.about">

                        </section>
                        <section class="service-profile-text" id="services">
                            <h2>
                                Services
                            </h2>
                            <div class="service-text-section" ng-repeat="service in profileData.services">
                                <div class="row">
                                    <div class="col-lg-8 col-sm-6 col-xs-12">
                                        <h3>
                                            {{ service.title}}
                                        </h3>
                                        <p>
                                            {{ service.description }}
                                        </p>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 col-xs-12">
                                        <ul>
                                            <li>
                                                <h4>
                                                    {{ service.time }}
                                                </h4>
                                                <p>
                                                    Min
                                                </p>
                                            </li>
                                            <li>
                                                <h4>
                                                    SAR
                                                </h4>
                                                <p>
                                                    {{ service.sar }}
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="offer-profile-text" id="offers">
                            <h2>
                                Offers
                            </h2>
                            <div class="offer-profile-block" ng-repeat="offer in profileData.offers">
                                <div class="row">
                                    <div class="col-lg-8 col-sm-6 col-xs-12">
                                        <h5>
                                            {{ offer.title }}
                                            <span>
                                                off {{ offer.offPercentage}}%
                                            </span>
                                        </h5>
                                        <p>
                                            Valid till {{ offer.validDate }}
                                        </p>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 col-xs-12">
                                        <ul>
                                            <li>
                                                <a href="javascript:;" onclick="angular.element(this).scope().doBook(this)" ng-click="vm.doBook()">
                                                    book now																									
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- Profile Right Side Area End Here -->
            </div>
        </div>
    </div>
</div>
<!-- profile-info-content Area End Here -->

<!-- Modal -->
<div class="modal fade" id="phoneModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Phone Number</h4>
            </div>
            <div class="modal-body">
                <p>{{ profileData.phoneNumber}}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="emailModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Email Address</h4>
            </div>
            <div class="modal-body">
                <p>{{ profileData.email}}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="clearfix">

</div>